.checkbox {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 5px;
}

.checkbox-box {
  width: 15px;
  outline: 2px solid var(--shadow-color);
  height: 15px;
  box-shadow: 1px 1px 2px inset var(--highlight-color), 1px 5px 10px var(--shadow-color);
  border-radius: 5px;
  background: var(--bg-color-2);
  background: linear-gradient(0deg, var(--bg-color-2) 50%, var(--bg-color-1) 100%);
}

.checkbox-box.check {
  transition: all 0.25s ease-in-out;
  outline: 2px solid var(--shadow-color);
  box-shadow: 1px 1px 2px inset var(--shadow-color), 
  -1px -1px 2px inset var(--highlight-color), 1px 5px 10px var(--shadow-color);
}

.checkbox-label {
  display: flex;
  align-items: center;
  text-align: left;
  user-select: none;
  text-shadow: var(--text-shadow);
}
