.divider {
  display: flex;
  align-items: center;
  height: 16px;
  color: var(--highlight-color);
  user-select: none;
  margin-bottom: 5px;
}

.divider::before {
  margin-left: 10px;
}

.divider::after {
  margin-right: 10px;
}

.divider::before, .divider::after {
  flex-grow: 1;
  box-sizing: border-box;
  border-top: 1px transparent solid;
  box-shadow: -1px -1px 2px var(--highlight-color), 1px 1px 2px var(--shadow-color);
  content: "";
}
