.slider {
  height: 16px;
}

.slider-track {
  height: 12px;
  box-shadow: 1px 1px 2px inset var(--shadow-color), -1px -1px 2px inset var(--shadow-color);
  border-radius: 5px;
  background-color: #333;
  overflow: hidden;
}

.slider-handle {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px var(--shadow-color);
  height: 12px;
  overflow: visible;
  border-radius: 5px;
}

.slider-label {
  margin-top: -12px;
  font-size: 9px;
  text-align: center;
  pointer-events: none;
  user-select: none;
  color: var(--highlight-color);
  font-family: monospace;
  text-shadow: var(--text-shadow);
}
