:root {
  --highlight-color: #FFF;
  --dim-highlight-color: #FFF9;
  --shadow-color:    #000;
  --bg-color:        #2A2c3390;
  --bg-color-1: #52555f;
  --bg-color-2: #2a2e36;
  --bg-color-3: #0f1119;
  --elements-border: 2px;
  --elements-radius: 3px;
  --text-shadow:
    1px 1px 2px var(--shadow-color),
    -1px 1px 2px var(--shadow-color),
    -1px -1px 2px var(--shadow-color),
    1px -1px 2px var(--shadow-color);
}
 
body {
  background: var(--bg-color);
  overflow: hidden;
}
